.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}


input[type="number"],
input[type="text"],
select {
    display: grid;
    max-width: 90%;
    gap: 2rem;
    align-items: center;
    justify-items: left;
    width: 20rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.25rem;
    border: 0.15rem solid rgba(169, 4, 235, 0.5);
    background: none;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: whitesmoke;
}

input span {
    color: red;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: var(--gray-200);
    align-items: center;
    justify-content: center;
    align-items: center;
    font-weight: 50;
    font-style: italic;
    font-size: 0.75rem;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button { 
    font-size: 1.5rem;
    text-align: left;
    border-radius: 10px;
    background-color: var(--gray-700);
    border: 2px solid var(--gray-700);
    color: white;
    width: 10rem;
    text-decoration: underline;
    font-weight: 300;
    margin-top: 2rem;
    margin-bottom: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    line-height: initial;
    transition: background-color 200ms ease-in-out, border 200ms ease-in-out,
        transform 200ms ease-in-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

input:invalid{  
    border: 2px solid #ff7d87;
    box-shadow: #ff7d87;
}
input:required {
    color: red;
}

input:focus {
    border: 1px solid rgba(169, 4, 235, 0.5);
 }

button:hover {
    font-size: 2rem;
    font-weight: 400;
    color: rgba(169, 4, 235, 0.5);
    transition: 1s;
}

label {
    font-weight: 200;
    display: flex;
    margin-bottom: 1rem;
    color: white;
}

.form-error {
    color: red;
    font-size: 1rem;
}

button[type="submit"] {
    margin-top: 1rem;
}

.underlineHover{
    text-align: center;
    font-weight: 200;
    color: white;
    font-size: 1.5rem;
}

.underlineHover:after {
    transition-duration: 1000ms;
    background-color: white;

}

.underlineHover:hover {
    color:rgba(169, 4, 235, 0.5);
    cursor: pointer;
    font-size: 2rem;
    transition-duration: 500ms;
    text-decoration: rgba(169, 4, 235, 0.5);
    
}

.underlineHover:hover:after {
    color:rgba(169, 4, 235, 0.5);
    transition-duration: 1000ms;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}